<div class="sidebar">
<nav class="nav flex-column">
    <div class="header">
        <h1>Menu</h1>
    </div>
    <div class="content">
        <div class="link">
            <div class="title" routerLink="/client-setup">
                <i class="bi bi-person-fill"></i>
                Client Setup</div>
        </div>
        <div class="link">
            <div class="title" routerLink="/billings">
                <i class="bi bi-receipt"></i>
                Billings</div>
        </div>
        <div class="link">
            <div class="title" routerLink="/new-clients">
                <i class="bi bi-cloud-plus-fill"></i>
                New Clients</div>
        </div>
    </div>
  </nav>
</div>